<div class="card card-10">

    <div class="content">

        <span class="label m-0">An Invitation From:</span>
        <span class="sub-heading">Mr. & Mrs. T. Basha,</span>
        <span class="sub-heading">Proprietor: Mohammed Ali Jewellers,</span>
        
        
        <span class="label">Residence:</span>
        <span class="sub-heading">At NGO's Colony,</span>
        <span class="sub-heading">Adoni.</span>

        <span class="label">Contact:</span>
        <span class="sub-heading">+91 99635 41902,</span>
        <span class="sub-heading">+91 97044 49724.</span>

    </div>

</div>