<div class="card card-16">

    <div class="content">
        <span class="heading">Engagement Ceremony</span>
        <span class="sub-heading">On Sunday, 11<sup>th</sup> February, 2024</span>
        <span class="sub-heading">Time: 02:00 PM</span>

        <span class="label">Venue:</span>
        <span class="sub-heading">At International Function Hall,</span>
        <span class="sub-heading">3<sup>rd</sup> Road, SKD Colony,</span>
        <span class="sub-heading">Adoni.</span>
    </div>

</div>