<div class="card card-2">

    <div class="content">

        <span class="heading">Engagement Ceremony Invitation of </span>

        <span class="bride-name name">Sana</span>
        <span class="and">&</span>
        <span class="groom-name name">Ziya</span>

        <div class="heart-wrapper">
            <img class="heart" src="../../../../../assets/images/heart.png" alt="heart">
        </div>

        <div class="mandal-wrapper">
            <img class="mandal" src="../../../../../assets/images/mandal-2.png" alt="mandal" >
        </div>

    </div>

</div>