<div class="outer-main-wrapper">

    <div class="main-wrapper">

        <div class="wrapper wrapper-1">

            <app-card-4></app-card-4>
            <app-card-3></app-card-3>
            <app-card-2></app-card-2>
            <app-card-1></app-card-1>

        </div>

        <div class="wrapper wrapper-2">

            <app-card-8></app-card-8>
            <app-card-7></app-card-7>
            <app-card-6></app-card-6>
            <app-card-5></app-card-5>

        </div>

        <div class="wrapper wrapper-3">

            <app-card-12></app-card-12>
            <app-card-11></app-card-11>
            <app-card-10></app-card-10>
            <app-card-9></app-card-9>

        </div>

        <div class="wrapper wrapper-4">

            <app-card-16></app-card-16>
            <app-card-15></app-card-15>
            <app-card-14></app-card-14>
            <app-card-13></app-card-13>

        </div>
        
        <div class="mandal-wrapper">
            <img class="mandal" src="../../../../../assets/images/mandal-2.png" alt="mandal" >
        </div>

        <div class="main-wrapper-bg-particles">

        </div>

    </div>

</div>